<div class="img-background" style="background-image: url(../../../assets/2e164bfddf6d4f7ba967e5e7e7a7d52f.jpeg);">
    <div class="headTitle">Welcome to Fyta</div>
    <div class="subTitle">Your Local Nursery</div>
    <div class="btn-title" style="background-color: rgb(186, 137, 92); color: black;">Shop Now</div>
    <div class="emt-div" style="color: #365347;"></div>
</div>
<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" >
      <div *ngFor="let num of [1,2,3,4,5,6,7,8]">
        <mat-card class="example-card">
            <img mat-card-image src="../../../assets/Jade-Plant.jpeg">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary">View</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>
<div class="footer" style="color: white;">
    <div class="about">About</div>
    <div class="footer-content">
        Since 2000, Fyta has been home to an impressive collection of plants, gardening tools and supplies. We believe that everyone should give gardening a try, and we’re here to help make that happen.From beginners to seasoned gardeners, we’ll help make your space greener. Our General Contractor  boasts a diverse and ever changing selection of plants and pots. Make sure to visit our nursery to discover an oasis full of greenery to make your own.
    </div>
</div>
<div class="copy"></div>
